@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inconsolata&display=swap');

:root {
  --light-color: #F6F7F9;
  --dark-color: #010C22;
  --yellow-color: #FFB140;
  --light-blue-color: #9AABB7;
  --bg-img-url: url('https://images.unsplash.com/photo-1469053913977-1d2f009670d9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1176&q=80');
}

body {
  color: var(--light-color);
  background-color: var(--light-color);
  background-image: var(--bg-img-url);
  background-size: cover;
  font-family: 'Inconsolata', monospace;
}

h1, h2 {
  color: var(--yellow-color);
  font-family: 'Architects Daughter', cursive;
}

a {
  color: var(--light-blue-color);
  text-decoration: none;
}

.card {
  background-color: var(--dark-color);
  width: 40%;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 10px var(--light-blue-color);
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.img-avatar {
  width: 120px;
  border-radius: 50%;
  border: solid 5px var(--yellow-color);
  transition: 1s;
}

.img-avatar:hover {
  transform: rotate(360deg);
}

.btn {
  display: block;
  width: 30%;
  margin: 0 auto;
  background-color: var(--light-blue-color);
  color: var(--dark-color);
  border-radius: 15px;
  padding: 7px 15px;
  line-height: 2;
  transition: .3s;
}

.btn:hover {
  background-color: var(--yellow-color);
}

.icon-list li {
  list-style-type: none;
  display: inline;
}
.icon-list {
  padding-left: 0;
}

.icon-btn {
  font-size: 2.5em;
  transition: .3s;
  margin: 0 10px;
}

.icon-btn:hover {
  color: var(--yellow-color);
}

/* Media Queries */

@media (max-width: 1024px) {
  body {
    background-attachment: fixed;
  }
  .card {
    width: 80%;
  }
  .btn {
    width: 70%;
  }
}

.gallery-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gallery-pic {
  width: 25%;
  transition: .3s;
}

.gallery-pic img {
  max-width: 100%;
  border-radius: 15px;
}

.gallery-pic:hover {
  transform: scale(1.5);
}
